.Nav{
    /* margin-bottom:10vh; */
    height:6vh;
    min-height:3em;
    position:sticky;
    top:0;
    z-index:999;
    background:#111111;
    box-shadow: #00000013 0 5px 10px;
    overflow:none;
    /* display:inline-block; */
}
.Nav > * {
    display:inline-block;
    position:relative;
    /* left:30%; */
    top:50%;
    transform:translate(-50%, -50%)
}

.search{
    left:30%;
}

.go-home{
    position:relative;
    width:fit-content;
    left:100%;
    transform:translate(-20%, -25%);
    background:none;
    border:none;
    color:white;
    font-weight:bolder;
    font-size:larger;
    background: -webkit-linear-gradient(left, #dddd, slateblue);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor:pointer;
}

.nav-links{
    position:relative;
    left:25%;
    /* top:25%; */
    width:fit-content;
    display:inline-flex;
    justify-content:center;
    align-items:center;
    gap:0.75em;
    /* transform:translate(-50%, -50%); */
}
.nav-name{
    width:fit-content;
}
.prof-link{
    color:white;
    text-decoration:none;
    font-weight:bold;
}

.nav-butt{
    background:none;
    color:white;
    border:none;
    font-weight:bold;
    font-size:large;
    padding-left:1em;

}
.nav-butt:hover{
    cursor:pointer;
    color:slateblue
}
.login-signup{
    position:relative;
    left:25%;
    transform:translate(0%, -100%)
}

.Login{
    /* border:1px solid red; */
    display:grid;
    justify-content:center;
    justify-items:center;
}
.login-form{
    display:grid;
    position:relative;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    width:30em;
    height:10em;

}
.error{
    height:fit-content;
}
.error-msg{
    height:2em;
    color:red
}
.login-form > input{
    outline:none;
    border-color:transparent;
    /* border-radius:0 0.25em 0.25em 0; */
}
.login-form > input:focus{
    transition: all .2s ease-in;
    border:2px solid slateblue;
}

.login-form > * {
    margin-bottom:0.75em;
}

.nav-img{
    height:30px;
    width:auto;
    position:relative;
    border-radius:1em;
    /* transform:translateY(50%) */
}
.Signup{
    position:relative;
    /* top:50%; */
    display:grid;
    justify-content:center;
    justify-items:center;

}
.signup-elem{
    height:3em;
}