.Nav{
    /* margin-bottom:10vh; */
    height:6vh;
    position:sticky;
    top:0;
    z-index:999;
    background:#111111;
    box-shadow: #00000013 0 5px 10px;
    /* display:inline-block; */
}
.Nav > * {
    display:inline-block;
    position:relative;
    /* left:30%; */
    top:50%;
    transform:translate(-50%, -50%)
}

.search{
    left:30%;
}

.go-home{
    position:relative;
    width:fit-content;
    left:100%;
    transform:translate(-25%, -25%);
    background:none;
    border:none;
    color:white;
    font-weight:bolder;
    font-size:larger;
    background: -webkit-linear-gradient(left, #dddd, slateblue);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor:pointer;
}