.Search{
    left:30%;
}


.search-butt{
    /* flex:1; */
    /* position:relative; */
    background:none;
    border:none;
    /* top:50%; */
    position:absolute;
}
.magnify{
    position:relative;
    cursor:pointer;
    transform:translate(-150%, 10%)
    /* top:55%; */
}

.NavLinks{
    position:relative;
    left:40%;
}

.search-option{
    background:white;
    border:none;
    position:relative;
    top:50%;
    /* transform:translate(0,11%); */
    /* height:2em; */
    height:auto;
    width:fit-content;
    border-radius:0.25em 0 0 0.25em;
    border-right:0.5px solid #111111;
}
.search-opt-img{
    height:2em;
}
.search-option:hover{
    cursor:pointer;
    background:rgba(255, 255, 255, 0.9)
}
.search-option:active{
    background:rgba(255, 255, 255, 0.8)
}

.navSearch{
    display:flex;
    position:relative;
    justify-content:left;
}
.searchform{
    /* position:relative; */
    height:fit-content;
    width:fit-content;
    /* flex:1; */
}
.search-input{
    position:relative;
    top:0%;
    height:2em;
    outline:none;
    border-color:transparent;
    min-height:3vh;
    width:35vw;
    border-radius:0 0.25em 0.25em 0;
}
.search-input:focus{
    transition: all .2s ease-in;
    border:2px solid slateblue;
}

.search-option-drop{
    background:white;
    border:2px solid crimson;
    height:200px;
    position:absolute;
    z-index:1000;
}




.search-query{
    font-weight:500;
}
.search-query > div{
    display:inline-block;
    font-weight:bolder;
}
.search-img{
    max-width:80px;
    min-width:80px;
}
.search-element{
    background-color:#1a1a1a;
    margin-left:0.2rem;
    border-radius:0.3rem;
    /* width:fit-content; */
    margin-bottom:2vh;
    display:grid;
    grid-template-columns: 100px 5fr;
    /* grid-template-rows: repeat(2, 0.5fr); */
    grid-template-areas:
    "poster-side movie-info"
}
.poster-side{ grid-area: poster-side; }
.movie-info{ grid-area: movie-info; }

.result-block{
    background-color:#111111;
    margin-bottom:5vh;
}
.poster-side{
    width:fit-content;
}
.overview{
    line-height:1.4em;
    width:80vw;
    height:2.8rem;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    white-space: normal;
    overflow:hidden;
    text-overflow:ellipsis;
    margin:0;
}
.film-title{
    margin:0;
    height:fit-content;
}
.movie-info > a {
    color:white;
    text-decoration:none;
}


.user-result-profile-img{
    border-radius:10em;
    height:5em;
    width:auto;
}