.title-block{
    height:80vh;
    display:grid;
    grid-template-rows:10vh 47.5vh;
    grid-template-columns: 40vw;
    justify-content:center;
    /* align-items:center; */
    /* grid-template-rows: repeat(2, 0.5fr); */
    grid-template-areas:
    "title-area title"
    "poster-side movie-info"
    "rating movie-info"
}
.title-name{ grid-area: title-area }
.title-img{ grid-area: poster-side; }
.filmData-info{ grid-area: movie-info; }
.rating-stars{ grid-area: rating; }


.backdrop{
    position:fixed;
    width:100vw;
    height:80vh;
    object-fit:cover;
    background-size:cover;
    background-repeat:no-repeat;
    z-index:-1;
    filter:blur(0.0rem) invert(20%) sepia(96%) saturate(2717%) hue-rotate(219deg) brightness(75%) contrast(97%)
}

.title-img{
    position:relative;
    z-index:99999999; 
    left:50%;
    transform:translateX(-50%);
    width:auto;
    height:45vh;
    border-radius:0.25rem;
    border:2px solid white;
}

.title-name{
    position:relative;
    z-index:1;
    display:flex;
    justify-content:center;
    align-items:center;
    font-weight:bolder;
    font-size:larger;
    text-decoration:underline;
    text-align:center;
}

.filmData-info{
    z-index:1;
    /* top:15%; */
    /* left: 20%; */
}
.title-overview {
    position:relative;
    width:55vw;
    height:fit-content;
    text-overflow:none;
    font-size:1rem
}
.synopsis{
    font-weight:bolder;
    margin:0;
}
.streaming-platforms{
    height:fit-content;
}
.service-platform{
    position:relative;
    transition: all .1s ease-in;
    height:4vw;
    border-radius:0.25rem;
    top:0%;
}
.service-platform:hover{
    /* height:5vw; */
    top:-3%;
    cursor:pointer;
}
.service-platform:active{
    top:0%;
}
.platforms > div > *{
    display:inline-block;
    padding-left:10px;
}

.load-msg{
    width:fit-content;
    position:relative;
    left: 50%;
    transform:translateX(-50%)
}

.rating-stars{
    display:flexbox;
    justify-content:center;
}
.user-stars{
    display:flex;
    justify-items:center;
    justify-content:center;
}
.star-ratings{
    left:50%;
    transform:translateX(-50%)
    /* display:flex; */
    /* justify-items:center; */
    /* justify-content:center; */
}