.profile-img{
    border-radius:0.5em;
    position:relative;
    left: 50%;
    top:7rem;
    transform:translate(-50%,-50%);
    z-index:1;
}
.profile-username{
    width:fit-content;
    font-size:1.5rem;
    font-weight:bolder;
    position:relative;
    color:darkgray;
}
.profile-utility{
    width:fit-content;
    display:flex;
}
.follow-butts{

}
.follow-util{
    display:inline-flex;
    align-items:center;
}
.follow-butt{
    border:0.5px solid white;
    font-weight:bolder;
    font-size:1.25rem;
    background:none;
    color:white;
    border-radius:1em;
    padding-inline:1rem;
    height:fit-content;
    padding-block: 0.5rem;
}
.follow-butt:hover{
    transition: all .1s ease-in;
    background-color:rgba(106, 90, 205, 1);
    cursor:pointer;
}
.follow-butt:active{
    border-bottom:0.5px solid white;
}


.profile-bio{
    border:0.5px solid white;
    border-bottom:none;
    max-height:14em;
    width:80vw;
    min-width:645px;
    position:relative;
    left:50%;
    transform:translate(-50%);
    border-radius:0.25em 0.25em 0 0;
    background-color:#111111;
    display:grid;
    align-items:center;
    justify-items:center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1.5fr 1fr;
    grid-template-areas:
    "name follow"
    "bio bio"
    "following nothing"
    /* grid-auto-columns:100%; */
}
.profile-username{ grid-area:name; }
.profile-utility{ grid-area: follow; }
.profile-follow-info{ grid-area: following; }
.profile-follow-info{
    display:inline-flex;
    height:20px;
    width:auto;
    gap:2rem;
}

.follow{
    font-weight:600;
}

.section-tabs{
    background:#111111;
    border-inline: 0.5px solid white;
    position:relative;
    width:80vw;
    min-width:645px;
    height:auto;
    left:50%;
    transform:translate(-50%);
    display:flex;
    flex-wrap:nowrap;
}

.section-tabs > * {
    font-weight:500;
    flex:1;
    padding:0.75em 0; 
    text-align:center;
}

.section-tabs > *:hover {
    transition: all .1s ease-in;
    background-color:rgba(0, 0, 0, 0.4);
    user-select:none;
    cursor:pointer;
}
.tab-contents, .tab-contents > div {
    width:80vw;
    min-width:645px;
    height:auto;
    position:relative;
    left:50%;
    transform:translate(-50%);
    background-color:#111111;
    border-inline:0.5px solid white;
}
.user-int-item{
    border-bottom:0.5px solid white;
}

.user-result-element{
    display:grid;
    width:80vw;
    position:relative;
    left:50%;
    transform:translateX(-50%);
    border:0.5px solid white;
    margin-bottom:1rem;
    border-radius:5em;
    border-left:none;
}
.user-result-element:hover{
    background-color:#0a0a0a;
}
.user-result-element > * {
    width:fit-content;
}
.result-link-elem{
    display:flex;
    align-items:center;
    gap:1em;
}
.user-result-username{
    color:white;
    font-weight:bolder
}
a {
    text-decoration:none;
}

.msg-box{
    height:24px;
    width:24px;
    fill:white;
    outline:0.5px solid white;
    border-radius:3rem;
    -moz-border-radius:3rem;
    -webkit-border-radius:3rem;
    padding:10px;
    margin-right:1rem;
    background-color:black
}
.msg-box:hover{
    fill:slateblue;
    outline: 0.5px solid slateblue;
    transition: all .1s ease-in;
    background-color:#111111
    /* background-color:slateblue */
}
.send-dm{
    padding:10px;
}

.rating-item > .star-ratings {
    left:0%;
    transform:translateX(0%);
}
.rating-item > a {
    color:white;
}
.rating-item > a:hover {
    text-decoration:underline;
}
.rated-film-poster{
    object-fit:cover;
    border-radius:50%;
    height:4rem;
    width:4rem;;
}
.user-int-item{
    display:flex;
    align-items:center;
}
.user-int-item:hover{
    background-color:rgba(0, 0, 0, 0.4)
}
.user-result-avi{
    height:80px;
}
.user-result-block{
    background-color:#111111;
    margin-bottom:5vh;
    height:fit-content;
}