.profile-img{
    border-radius:0.5em;
    position:relative;
    left: 50%;
    top:7rem;
    transform:translate(-50%,-50%);
    z-index:1;
}
.profile-username{
    width:fit-content;
    font-size:1.5rem;
    font-weight:bolder;
    position:relative;
    top:10%;
    left:20%;
    transform:translate(-50%, -50%);
    color:darkgray;
}
.profile-utility{
    position:relative;
    /* right:30%; */
    /* top:10%; */
    left:80%;
    width:fit-content;
    transform:translate(-50%,-125%);
}
.profile-utility > button{
    border:0.5px solid white;
    border-bottom:1.5px solid white;
    font-weight:bolder;
    font-size:1.25rem;
    background:none;
    color:white;
    border-radius:1em;
    padding-inline:1rem;

}
.profile-utility > button:hover{
    transition: all .1s ease-in;
    background-color:rgba(106, 90, 205, 1);
    cursor:pointer;
}
.profile-utility > button:active{
    transition: none;
    transform:translateY(1px);
    border-bottom:0.5px solid white;
}


.profile-bio{
    border:0.5px solid white;
    border-bottom:none;
    max-height:14em;
    width:80vw;
    position:relative;
    left:50%;
    transform:translate(-50%);
    border-radius:0.25em 0.25em 0 0;
    background-color:#111111;
}

.profile-follow-info{
    display:inline-flex;
    height:20px;
    width:auto;
    gap:2rem;
    position:relative;
    left:20%;
    transform:translate(-50%, -50%);
    top:75%;
}

.follow{
    font-weight:600;
}

.section-tabs{
    background:#111111;
    border-inline: 0.5px solid white;
    position:relative;
    width:80vw;
    height:auto;
    /* top:100%; */
    left:50%;
    /* border:1px solid red; */
    transform:translate(-50%);
    display:flex;
    flex-wrap:nowrap;
}

.section-tabs > * {
    font-weight:500;
    flex:1;
    padding:0.75em 0; 
    text-align:center;
}

.section-tabs > *:hover {
    transition: all .1s ease-in;
    background-color:rgba(0, 0, 0, 0.4);
    user-select:none;
    cursor:pointer;
}

.user-result-element{
    display:grid;
    width:fit-content;
}
.user-result-element > * {
    width:fit-content;
}
.result-link-elem{
    display:flex;
    align-items:center;
    gap:1em;
}
.user-result-username{
    color:white;
    text-decoration:none;
    font-weight:bolder
}
